html, body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
background-color:hsl(225, 100%, 94%);
}
#page{
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;     
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    
}
.bg{
    display: none;
}
@media only screen and (min-width: 1440px){
    .bg {
        display: block;
        position: fixed; 
        top: 0; 
        left: 0; 
        min-width: 100%;
      }
    }
  
.cardContainer{
    position:absolute;
    margin: 0 auto;
    overflow:hidden;
    width: 85%;
    border-radius: 20px;
}
.maincard{
    background-color: white;
    
}
@media only screen and (min-width: 1440px){
.cardContainer{
    width: 30%;
} 
}
.card--image img{
    width: 100%;
    object-fit: cover;

}
.card--text h2{
    font-size: 20px;
    margin: 27px auto 20px auto;
    font-weight: 800;
}
.card--text p{
    line-height: 150%;
    width: 83%;
    margin: 0 auto;
    color: hsl(224, 23%, 55%);
}
.card--infobox{
    width: 80%;
    background-color:hsl(225, 100%, 98%) ;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    margin: 25px auto;
    border-radius: 13px;
    padding: 15px;
}
.card--infobox__plan{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    gap: 5px;
}
.card--infobox a{
    font-weight: 700;
    font-size: 12px;
   align-self: center;
   text-decoration: none;
}
.card--infobox a:hover{
    opacity: 50%;
}
.annual-plan{
    font-weight: 700;
    font-size: 13px;
    
}
.card--infobox__price{
    font-size: 14px;
    color:hsl(224, 23%, 55%) ;
}
.btn{
    font-weight: 700;
    font-size: 15px;
    background-color: hsl(245, 75%, 52%) ;
    color: white;
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
    padding: 15px 0px;
    box-shadow: hsl(225, 100%, 94%) 0px 2px 1px, hsl(225, 100%, 94%)  0px 4px 2px, hsl(225, 100%, 94%)  0px 8px 4px, hsl(225, 100%, 94%)  0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.btn:hover{
    opacity: 50%;
}
.cancel{
    font-size: 15px;
    font-weight: 700;
    padding: 8%;
}
.cancel a{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}
.cancel a:hover{
    color: black;
}


p{
    font-size: 16px;
}





.attribution {
     font-size: 11px; 
     text-align: center; 
     position: absolute;
     bottom: 5px;
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }